@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

//Variables globales:
    $backgroundColor: #f4f1f1;
    $textColor: black;
    $primaryColor: #d37469;
    $secondaryColor: #bef0f4; 
    $font: 'Raleway', sans-serif;

//Globales:
*, *::after, *::before { 
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body {
    margin: 0;
    background-color: $backgroundColor;
    line-height: 1.5;
    font-family: $font;
    font-size: 16px;
    color: $textColor;
}

a {
    text-decoration: none;
    color: $textColor;
}

img {
    width: 100%;
}

input{
    font-family: $font;
    &:focus{
        outline:none;
    }
}

.center{
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
}

.view-top{
    margin-top: 120px;
}

.size1 {
    font-size: 1.6rem;
}

.size2 {
    font-size: 2rem;
}

.size3 {
    font-size: 2.4rem;
}

.size4 {
    font-size: 3.2rem;
}

.size5 {
    font-size: 4rem;
}

.button{
    cursor: pointer;
}


