<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PenPeople</title>
</head>
<body>
  <div style="padding: 24px 16px 40px 16px; text-align: center; background-color: #f4f1f1; color: black">
    <div style="width: 240px;padding: 70px 0;;color: white; text-align: center; background-color: black; margin: 32px auto">
      <h1>PENPEOPLE</h1>
      <h2 style="font-size: 1.1em;width: 90%;margin: 8px auto">Historias que no acaban...</h2>
    </div>
    {{{body}}}
  </div>
</body>
</html>