<h1>¡Gracias por enviar tu propuesta para {{story}}, {{nickname}}!</h1>
<h2>En un plazo máximo de 7 días sabrás si ha sido publicada. Te dejamos una copia aquí:</h2>
<div style="padding: 0 32px; text-align: left; max-width: 800px; margin: 0 auto">
  {{{block}}}
</div>