<h2>¡Sentimos que hayas olvidado tu contraseña {{nickname}}!</h2>
<h3>Accede al cambio de contraseña a través de este enlace</h3>
<a href="http://localhost:8080/cambiarcontrasena/{{id}}" target="_blank" style="cursor: pointer; text-decoration: none; font-size: 1.8em; border: 1px solid #c4c1c1; padding: 8px 16px; color: black; background-color: white">Cambiar contraseña</a>