<h2>¡{{nickname}}, han continuado tu historia!</h2>
<h3>Para moderar la propuesta, accede al apartado Pendientes de moderación dentro de tu perfil</h3>
<a href="http://localhost:8080/perfil/{{nickname}}" target="_blank" style="cursor: pointer; text-decoration: none; font-size: 1.8em; border: 1px solid #c4c1c1; padding: 8px 16px; color: black; background-color: white">Acceder al perfil</a>