<h1>¡Gracias por volver a PenPeople {{nickname}}!</h1>
<h2>Reactiva tu cuenta pulsando en el botón</h2>
<a href="http://localhost:8080/validar/{{id}}" target="_blank" style="cursor: pointer; text-decoration: none; font-size: 1.8em; border: 1px solid #c4c1c1; padding: 8px 16px; color: black; background-color: white">Confirmar cuenta</a>